@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplayBlackItalic.woff2') format('woff2'),
         url('../fonts/PlayfairDisplayBlackItalic.woff') format('woff'),
         url('../fonts/PlayfairDisplayBlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold_0.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold_0.woff') format('woff'),
         url('../fonts/ProximaNovaBold_0.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBoldIt_0.woff2') format('woff2'),
         url('../fonts/ProximaNovaBoldIt_0.woff') format('woff'),
         url('../fonts/ProximaNovaBoldIt_0.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaLight_0.woff2') format('woff2'),
         url('../fonts/ProximaNovaLight_0.woff') format('woff'),
         url('../fonts/ProximaNovaLight_0.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src:url('../fonts/ProximaNovaLightIt_0.woff2') format('woff2'),
         url('../fonts/ProximaNovaLightIt_0.woff') format('woff'),
         url('../fonts/ProximaNovaLightIt_0.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaReg_0.woff2') format('woff2'),
         url('../fonts/ProximaNovaReg_0.woff') format('woff'),
         url('../fonts/ProximaNovaReg_0.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegIt_0.woff2') format('woff2'),
         url('../fonts/ProximaNovaRegIt_0.woff') format('woff'),
         url('../fonts/ProximaNovaRegIt_0.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
